.projectLang{
    color:white
    
}
.projectTitle{
    color:white;
}
.projectDesc{
    color:#949495
}
a{
    text-decoration: none;
}
article{
    background-color: #202022;
    border: 1px solid black;
    padding:40px;
    width: 40rem;
    margin-bottom: .5rem;
    
}
article:hover{
    transform: scale(1.1);
}
.about-meContainer{
    width: 100%;
    
    justify-content: space-around;
    position: relative;
    flex-wrap: wrap;
}
.leftaboutme{
    
   margin-top: 21.44px;
   width: 25%;
   left: 2rem;
   position: fixed;
   height: 100vh;
}
.rightaboutme{
   margin-top: 21.44px;
   width: fit-content;
   left: 50%;
   position: relative;
   
}
h1{
    margin-bottom: 1rem;
    color: white;
}
h2{
    margin-bottom: 1rem;
    color: white;
}
.icons{
    position: fixed;
    bottom: 0px;
    
}
span{
    margin-right: 2rem;
}
.projectTitle{
  text-align: center;  
}
.projects-container{
    
    display: flex;
    height: 40rem;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    overflow-y: auto
}